{% extends 'base.html' %}
{% load static staticfiles %}


{% block title %}
    Главная страница
{% endblock %}
{% block content %}

<main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
       <div class="hero-wrapper">
          <div style="background-image: url({{ banner.image.url }});
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: center;
            background-size: 100% auto;">
            <div class="hero-sizing"></div>
            <div class="hero-content">
              <h1>{{ banner.title }}</h1>
              <p>{{ banner.description }}</p>
              <a href="{% url 'product_detail' pk=banner.product.id %}" class="btn btn-danger stretched-link" style="opacity: 1">Подробнее</a>
            </div>
        </div>
       </div>
  </div>
</main>
{% endblock %}